h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --main-color: #e5e5e5;
  --first-color: #ffffff;
  --second-color: #2f303a;
  --second-text-color: #212121;
  --third-text-color: #757575;
  --btn-color: #2196f3;
  --eighth-footer-color: rgba(255, 255, 255, 0.6);
  --btn-port-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--first-color);
  color: var(--second-text-color);
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container-list {
  background: var(--first-color);
  box-shadow: rgba 0;
}
/*--------------------------------------------------------------------------------верхняя линия---------------------------------------------------*/
.about-info {
  background-color: var(--first-color);
}
.link-navigation-list {
  display: flex;
}
.navigation-link:hover,
.mail-link:hover,
.tel-link:hover,
.navigation-link.current,
.contacts-link:hover,
.contacts-tel-link:hover,
.navigation-link:focus,
.contacts-link:focus,
.mail-link:focus,
.tel-link:focus,
.contacts-tel-link:focus {
  color: var(--btn-color);
}
.main-btn-filter.current:hover,
.main-btn-filter.current {
  color: var(--first-color);
  background-color: var(--btn-color);
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
}
.contacts-link,
.contacts-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-text-color);
}

/*-----------------------------------------------------------------------------------------герой-------------------------------------------------------*/
.about-hero {
  background-color: var(--second-color);
}
.main-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
}
.btn-hero {
  font-family: inherit;
  background-color: var(--btn-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-color);
  border-radius: 4px;
  border: none;
}
/*----------------------------------------------------------------------- Особенности------------------------------------------------------------------------ */
.about-work {
  background-color: var(--first-color);
}
.spc-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.spc-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
/*---------------------------------------------------------------------- Чем мы занимаемся----------------------------------------------------------------- */
.prof-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.about-profession {
  background-color: var(--first-color);
}
/*---------------------------------------------------------------------- Наша команда -----------------------------------------------------------------------*/
.about-team {
  background-color: var(--btn-port-color);
}
.team-info {
  background: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-name {
  font-weight: medium;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.work-direction {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
/*----------------------------------------------------------------------- Подвал------------------------------------------------------------------------------ */
.about-contacts {
  background-color: var(--second-color);
}
.addres-map {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-color);
}
.mail-link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--eighth-footer-color);
}
.tel-link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--eighth-footer-color);
  transform: rotate(-0.75deg);
}

.about-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-color);
}
.black-logo {
  color: var(--second-text-color);
}
.white-logo {
  color: var(--first-color);
}
/*-------------------------------------------------------------отдельно к портфолио----------------------------------------------------------------------*/
.main-btn-filter {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background: var(--btn-port-color);
  border-radius: 4px;
  border: none;
}
.main-btn-filter:hover,
.main-btn-filter:focus {
  color: var(--first-color);
  background-color: var(--btn-color);
}

/*----------------------------------------------------------------проект-------------------------------------------------------------------------------------*/
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.project-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
